<link rel="stylesheet" href="/css/factura.css">

<!-- Para reutilizar codigo de la cabecera y navegacion -->
{{> cabecera}}
{{> navegacion}}

<section class="contenido" style="overflow: hidden">
    <div class="centrar">
        <h1>Detalles de la compra</h1>
    </div>

    <div>
            <div id="left">
                <form>
                    <div style="font-family: 'Calibri'">
                        <div style="margin-left: 15px; margin-bottom: 15px">
                            <label>Fecha:</label><br>
                            <input id="fecha" type="date" placeholder="fecha..." required><br>
                        </div>
                        <div style="margin-left: 15px; margin-bottom: 15px">
                            <label>Proveedor:</label><br>
                            <input id="proveedor" type="search" placeholder="proveedor..." required><br>
                        </div>
                        <div style="margin-left: 15px; margin-bottom: 15px">
                            <label>Producto:</label><br>
                            <input id="producto" type="search" placeholder="producto..." required><br>
                        </div>
                        <div style="margin-left: 15px; margin-bottom: 15px"">
                            <label>Cantidad:</label><br>
                            <input id="cantidad" type="number" placeholder="cantidad..." required><br>
                        </div>
                        <div style="margin-left: 15px; margin-bottom: 15px"">
                            <label>Valor:</label><br>
                            <input id="valor" type="number" placeholder="valor..." required> <br>
                        </div>
                        <button id="adicionar" class="botones-factura" type="submit">Adicionar a la factura <i class="fas fa-chevron-circle-right"></i></button>
                    </div>
                </form>
            </div>
                
            <div id="right">
                    <div id="adicionados"></div>
                    <div class="table-menu" >
                            <table id="mytable" class="table">
                                <tr>
                                    <th>Producto</th>
                                    <th>Cantidad</th>
                                    <th>Valor</th>
                                    <th>Eliminar</th>
                                </tr>
                            </table>
                        </div>
                
                        <div class="button-guarda" >
                                <button id="#" type="submit" class="botones-factura">Guardar factura <i class="fas fa-save"></i></button>
                        </div>
            </div> 
    </div>
</section>

{{> footer}}


<script>

    $(document).ready(function () {
        //obtenemos el valor de los input
        $('#adicionar').click(function () {

            if (document.getElementById("producto").value != "" && document.getElementById("cantidad").value != "" &&
                document.getElementById("valor").value != "") {
                    
                var producto = document.getElementById("producto").value;
                var cantidad = document.getElementById("cantidad").value;
                var valor = document.getElementById("valor").value;
                var i = 1; //contador para asignar id al boton que borrara la fila

                //esto seria lo que contendria la fila
                var fila = '<tr id="row' + i + '"><td>' + producto + '</td><td>' + cantidad + '</td><td>' + valor + '</td><td><button type="button" name="remove" id="' + i + '" class="button-delete"><i class="fas fa-trash"></i></button> </td></tr > ';
                i++;

                $('#mytable tr:first').after(fila);
                $("#adicionados").text("Cantidad de productos adicionados: "); //limpia el div adicioandos para que no se vayan acumulando

                var nFilas = $("#mytable tr").length;
                $("#adicionados").append(nFilas - 1);//le resto 1 para no contar la fila del header


                document.getElementById("cantidad").value = "";
                document.getElementById("valor").value = "";
                document.getElementById("producto").value = "";
                document.getElementById("producto").focus();

            }

        });

        $(document).on('click', '.button-delete', function () {

            var button_id = $(this).attr("id");
            //cuando da click obtenemos el id del boton
            $('#row' + button_id + '').remove(); //borra la fila
            //limpia el div para que vuelva a contar las filas de la tabla
            $("#adicionados").text("Cantidad de productos adicionados: ");
            var nFilas = $("#mytable tr").length;
            $("#adicionados").append(nFilas - 1);
        });
    });
</script>