<link rel="stylesheet" href="/css/login.css">

<form action="/" method="POST" autocomplete="off">

    <img src="/imagenes/logo.jpg" style="float: right;; border-radius: 5.0em; width: 75px; height: 75px">
    <h2>Inventario V&M</h2>

    <p>Identificación:</p>
    <input type="text" name="username" id="username" placeholder=" usuario" autofocus required></br>

    <p>Contraseña:</p>
    <input type="password" name="password" id="password" placeholder=" contraseña" required></br>

    <p class="center-content">
        <button type="submit" class="btn btn-blue">Iniciar sesión</button>
    </p>
</form>


<!--Mensajes-->
{{#each datos}}
<script>
    toastr.warning('Usuario o contraseña incorrectas', 'ATENCION', {
        "progressBar": true,
        "positionClass": "toast-top-center",
    });
</script>
{{/each}}