<link rel="stylesheet" href="/css/login.css">

    
<form action="/" method="POST" autocomplete="off">
    <h1>Inventario V&M</h1>
    <p>Identificación:</p>
    <input type="text" name="username" id="username" placeholder=" usuario" autofocus required><br/><br/>

    <p>Contraseña:</p>
    <input type="password" name="password" id="password" placeholder=" contraseña" required></br><br/>

    <p class="center-content">
        <input type="submit" class="btn btn-blue" value="Iniciar sesión">
    </p>
</form>