
<link rel="stylesheet" href="/css/login.css">    

<body>
    
    <form action="/" method="POST" autocomplete="off">
        <h1>Inventario V&M</h1>
        <p>Identificación:</p>
        <input type="text" name="username" id="username"  required placeholder=" usuario"> <br />

        <p>Contraseña:</p>
        <input type="password" name="password" id="password"
             required  placeholder=" contraseña"> <br />

        <p class="center-content">
            <input type="submit" class="btn btn-blue" value="Iniciar sesión">
        </p>
    </form>
</body>

