<link rel="stylesheet" href="/css/menu.css">

{{> cabecera}}
{{> navegacion}}

<section class="contenido">
    <div>
            <h3>¡Bienvenido! ¿Qué deseas hacer?</h3>
    </div>
    <div>
        <table>
            <tr>
                <th style="background-color: #EE2A00"><a href="/navegacion/compra">Realizar una compra</a></th>
                <th style="background-color: #00EE3E"><a href="/navegacion/producto">Ver productos en stock</a></th>
            </tr>
            <tr>
                <th style="background-color: #0075EE"><a href="/navegacion/salidaProducto">Realizar comida</a></th>
                <th style="background-color: orange"><a href="/navegacion/reportes">Ver reportes</a></th>
            </tr>
        </table>
    </div>
    
</section>

{{> footer}}