<link rel="stylesheet" href="/css/menu.css">

{{> cabecera}}
{{> navegacion}}

<section class="contenido">
    <div>
            <h3>¡Bienvenido! ¿Qué deseas hacer?</h3>
    </div>
    <div>
        <table>
            <tr>
                <th style="background-color: #EE2A00"><a href="/navegacion/compra">Ingresar nuevos suministros<br> <i class="fas fa-cart-plus  fa-2x"></i></a></th>
                <th style="background-color: #00EE3E"><a href="/navegacion/producto">Visualizar productos en inventario<br> <i class="fas fa-dolly-flatbed  fa-2x"></i></a></th>
            </tr>
            <tr>
                <th style="background-color: #0075EE"><a href="/navegacion/salidaProducto">Realizar ensamble de plato<br> <i class="fas fa-utensils  fa-2x"></i></a></th>
                <th style="background-color: orange"><a href="/navegacion/reportes">Visualizar reportes<br> <i class="fas fa-signal  fa-2x"></i></a></th>
            </tr>
        </table>
    </div>
    
</section>

{{> footer}}