<link rel="stylesheet" href="/css/newPass.css">
{{> cabecera}}
{{> navegacion}}

<section style="margin-left: 230px">
    <div>
        <h1>Creación producto nuevo</h1>
    </div>
    <div>
        <form action="/navegacion/producto/newProduct" method="POST" autocomplete="off">
            <main>
                <div><label>Nombre del producto: </label></div>
                <div><input name="nameProduct" id="nameProduct" type="text" placeholder="nombre..." required></div>
                <div><label>Cantidad inicial:</label></div>
                <div><input name="cantidad" id="cantidad" type="number" min="1" placeholder="cantidad..." required></div>
            </main>
                <div style="width: 100%; margin-top: 15px; margin-bottom: 20px">
                    <label>Medida </label>
                    <select name="medida" id="medida" style="width: 110px; height: 30px">
                        <option>Seleccionar...</option>
                        <option>kg</option>
                        <option>ml</option>
                        <option>gr</option>
                        <option>und</option>
                    </select>
                </div>
            <div style="text-align: center">
                <button type="submit" style="background-color: #0E7771">Aceptar <i
                        class="fas fa-check-circle"></i></button>
                <a href="/navegacion/producto">
                    <button type="button" style="background-color: red">Cancelar<i class="fas fa-ban"></i></button>
                </a>
            </div>
        </form>
    </div>
</section>

{{> footer}}