<link rel="stylesheet" href="/css/newPass.css">

<!-- Para reutilizar codigo de la cabecera y navegacion -->
{{> cabecera}}
{{> navegacion}}

<section class="contenido">

    <div class="container">
        <h1>ACTUALIZACION DE CONTRASEÑA</h1>

        <div class="container ">
            <form action="/navegacion/users/newPass/{{username}}" method="POST" autocomplete="off">

                <p class="text-center">
                    <label>Nueva contraseña:</label>
                </p>
                <input type="password" name="password" id="password" placeholder=" contraseña" required>

                <p class="text-center">
                    <label>Confirme la contraseña:</label>
                </p>
                
                <input type="password" name="confirmar" id="confirmar" placeholder=" contraseña" required> 
                
                <div>
                    </br>
                    <button type="submit">Actualizar <i class="fas fa-sync-alt"></i></button>
                    <a href="/navegacion/users">
                        <button style="background-color: red; margin-left: 15px">Cancelar <i class="fas fa-ban"></i></button>
                    </a>
                </div>

            </form>
        </div>
    </div>
</section>

{{>footer}}