<link rel="stylesheet" href="/css/newUser.css">
{{> cabecera}}
{{> navegacion}}

<section style="margin-left: 230px">
        <div>
            <h1>Creación producto nuevo</h1>
        </div>
        <div>
            <form>
                <main>
                    <div><label>Código del producto: </label><br><br></div>
                    <div><input name="codProduct" id="" type="number"></div>
                    <div><label>Nombre del producto: </label><br><br></div>
                    <div><input name="nameProduct" id="" type="text"></div>
                    <div><label>Cantidad inicial: </label><br><br></div>
                    <div><input name="cant" id="" type="number"></div>
                    <br>
                </main>
                <div style="text-align: center">
                    <button type="submit" style="background-color: #0E7771">Aceptar <i class="fas fa-check-circle"></i></button>
                        <a href="/navegacion/producto">
                            <button style="background-color: red">Cancelar <i class="fas fa-ban"></i></button>
                        </a>
                </div>
            </form>
        </div>
    </section>

{{> footer}}