<link rel="stylesheet" href="/css/newUser.css">

{{> cabecera}}
{{> navegacion}}

<section style="margin-left: 230px">
    <div>
        <h1>Creación de usuario nuevo</h1>
    </div>
    
    <div>
        <form action="/navegacion/users/signIn" method="POST" autocomplete="off">
            <main>
                <div><label>Nombre de usuario: </label><br><br></div>
                <div><input name="username" id="username" type="text" required></div>
                <div><label>Contraseña: </label><br><br></div>
                <div><input name="password" id="password" type="password" required></div>
                <br>
            </main>
            <div style="text-align: center">
                <button type="submit" style="background-color: #0E7771">Aceptar <i class="fas fa-check-circle"></i></button>
                    <a href="/navegacion/users">
                        <button type="button" style="background-color: red">Cancelar <i class="fas fa-ban"></i></button>
                    </a>
            </div>
        </form>
    </div>

</section>

{{> footer}}