<link rel="stylesheet" href="/css/newPass.css">

{{> cabecera}}
{{> navegacion}}

<section style="margin-left: 230px">
    <div>
        <h1>Creación de proveedor nuevo</h1>
    </div>
    
    <div>
        <form action="/navegacion/compra/nuevoProveedor" method="POST" autocomplete="off">
            <main>
                <div><label>NIT Proveedor: </label><br><br></div>
                <div><input name="nitproveedor" id="nitproveedor" type="text" required></div>
                <div><label>Razón social Proveedor: </label><br><br></div>
                <div><input name="nombreproveedor" id="nombreproveedor" type="text" required></div>
                <br>
            </main>
            <div style="text-align: center">
                <button type="submit" style="background-color: #0E7771">Aceptar <i class="fas fa-check-circle"></i></button>
                    <a href="/navegacion/compra">
                        <button type="button" style="background-color: red">Cancelar <i class="fas fa-ban"></i></button>
                    </a>
            </div>
        </form>
    </div>

</section>

{{> footer}}

