<link rel="stylesheet" href="/css/productos.css">
{{> cabecera}}
{{> navegacion}}

<section class="contenido">
    <div class="div1">
        <button style="background-color: #13AAA1">Buscar producto <i class="fas fa-search"></i></button>
        <button style="background-color: #0E7771">Crear producto <i class="fas fa-plus-circle"></i></button>
    </div>
    <div>
        <h1>Listado de productos</h1>
    </div>
    <div class="datos">
        <table>
            <tr>
                <th>Código</th>
                <th>Medida</th>
                <th>Producto</th>
                <th>Cantidad</th>
            </tr>
            <tr><td>001</td><td>Lb</td><td>papa</td><td>20</td></tr>
            <tr><td>002</td><td>Lb</td><td>arroz</td><td>35</td></tr>
            <tr><td>003</td><td>Lb</td><td>yuca</td><td>42</td></tr>
            <tr><td>004</td><td>Ml</td><td>aceite</td><td>20</td></tr>
            <tr><td>005</td><td>Lb</td><td>limon</td><td>35</td></tr>
            <tr><td>006</td><td>Lb</td><td>tomate</td><td>42</td></tr>
            <tr><td>007</td><td>Lb</td><td>cebolla</td><td>20</td></tr>
            <tr><td>008</td><td>Lb</td><td>ajo</td><td>35</td></tr>
            <tr><td>009</td><td>Lb</td><td>frijol</td><td>42</td></tr>
            <tr><td>011</td><td>Lb</td><td>arveja</td><td>20</td></tr>
            <tr><td>012</td><td>Lb</td><td>blanquillo</td><td>35</td></tr>
            <tr><td>013</td><td>Lb</td><td>azucar</td><td>42</td></tr>
            <tr><td>001</td><td>Lb</td><td>papa</td><td>20</td></tr>
            <tr><td>002</td><td>Lb</td><td>arroz</td><td>35</td></tr>
            <tr><td>003</td><td>Lb</td><td>yuca</td><td>42</td></tr>
            <tr><td>004</td><td>Ml</td><td>aceite</td><td>20</td></tr>
            <tr><td>005</td><td>Lb</td><td>limon</td><td>35</td></tr>
            <tr><td>006</td><td>Lb</td><td>tomate</td><td>42</td></tr>
            <tr><td>007</td><td>Lb</td><td>cebolla</td><td>20</td></tr>
            <tr><td>008</td><td>Lb</td><td>ajo</td><td>35</td></tr>
            <tr><td>009</td><td>Lb</td><td>frijol</td><td>42</td></tr>
            <tr><td>011</td><td>Lb</td><td>arveja</td><td>20</td></tr>
            <tr><td>012</td><td>Lb</td><td>blanquillo</td><td>35</td></tr>
            <tr><td>013</td><td>Lb</td><td>azucar</td><td>42</td></tr>
        </table>
    </div>
</section>


{{> footer}}