<link rel="stylesheet" href="/css/productos.css">
{{> cabecera}}
{{> navegacion}}

<section class="contenido">
    <div>
        <h1>Listado de productos</h1>
    </div>
    <div style="margin-left: 35px; margin-top: 5px">
        <form action="/navegacion/producto" method="POST">

            <input type="text" name="producto" id="producto" placeholder="Nombre del producto">
            <button type="submit" style="background-color: #13AAA1">Buscar producto <i
                    class="fas fa-search"></i></button>
            <a href="/navegacion/producto">
                <button style="background-color: red; width: 40px"><i class="fas fa-sync-alt"></i></button>
            </a>

        </form>
    </div> 
     <br>
    <div class="datos">
        <table>
            <tr>
                <th>Código</th>
                <th>Producto</th>
                <th>Cantidad</th>
                <th>Medida</th>
            </tr>
            {{#each producto }}
            <tr>
                <td>{{codigoprod}}</td>
                <td>{{nombreprod}}</td>
                <td>{{cantidadtot}}</td>
                <td>{{medida}}</td>
            </tr>
            {{else}}
            <tr>
                <td>Vacio</td>
                <td>Vacio</td>
                <td>Vacio</td>
                <td>Vacio</td>
            </tr>
            {{/each}}

        </table>
    </div>

    <div style="margin-left: 50px; margin-top: 15px">
            <a href="/navegacion/producto/newProduct">
                <button type="button" style="background-color: #0E7771">Crear producto <i class="fas fa-plus-circle"></i>
                </button>
            </a>
        </div> 
</section>

{{> footer}} 

{{#each exitoUser }}
<script>
    toastr.success("Operacion realizada satisfactoriamente", "EXITO");
</script>
{{else}}
{{#each errorUser }}
<script>
    toastr.warning("Operacion fallida, por favor verificar los datos", "ATENCION");
</script>
{{/each}}
{{/each}}