<link rel="stylesheet" href="/css/productos.css">
{{> cabecera}}
{{> navegacion}}

<section class="contenido">
    <div>
        <h1>Listado de productos</h1>
    </div>
    <div class="datos">
        <table>
            <tr>
                <th>Código</th>
                <th>Producto</th>
                <th>Cantidad</th>
                <th>Medida</th>
            </tr>
            {{#each producto }}
            <tr>
                <td>{{codigoprod}}</td>
                <td>{{nombreprod}}</td>
                <td>{{cantidadtot}}</td>
                <td>{{medida}}</td>
            </tr>
            {{else}}
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            {{/each}}

        </table>
    </div>
    <div class="div1">
        <button style="background-color: #13AAA1">Buscar producto <i class="fas fa-search"></i></button>
        <button style="background-color: #0E7771">Crear producto <i class="fas fa-plus-circle"></i></button>
    </div>
</section>


{{> footer}}