<link rel="stylesheet" href="/css/users.css">

{{> cabecera}}
{{> navegacion}}

<section class="contenido">
    <div>
        <h1>Listado de usuarios</h1>
    </div>
    <div style="width: 90%; margin: 0 auto">
        <table>
            <tr>
                <th>Usuario</th>
                <th>Editar</th>
                <th>Eliminar</th>
            </tr>
            {{#each datos }}
            <tr>
                <td>{{id_usuario}} </td>
                <td>
                    <a href="/navegacion/users/newPass/{{id_usuario}}">
                        <button type="button" class="button-edit"><i class="fas fa-edit"
                                style="color: white"></i></button>
                    </a>
                </td>
                
                <td>
                    <a onclick="eliminar(this)" id={{id_usuario}}>

                        <button type="button" style="color: white" class="button-delete"><i class="fas fa-trash"
                                style="color: white"></i></button>
                    </a>
                </td>

            </tr>
            {{else}}
            <tr>
                <td></td>
                <td></td>
            </tr>
            {{/each }}
        </table>

        <div>
            <a href="/navegacion/users/signIn">
                <button type="submit" class="boton-nuevo" type="button">
                    Nuevo usuario <i class="fas fa-user-plus"></i>
                </button>
            </a>
        </div>
    </div>
</section>

{{> footer}}


<script>

    function eliminar(val) {

        var texto1 = "<form method='POST' action='/navegacion/users/delUser/" + val.id +
            "'> <h4>¿Esta seguro de eliminar este usuario? </h4><br /> " +
            "<button type='submit'>Si</button></form>";

        toastr.info(texto1, "Confirmacion",
            {
                "closeButton": true,
                "progressBar": true,
                "positionClass": "toast-top-center",
            });
    }

</script>

<!--MENSAJES-->
{{#each exitoUser }}
<script>
    toastr.success("Operacion realizada satisfactoriamente", "EXITO");
</script>
{{else}}
{{#each errorUser }}
<script>
    toastr.warning("Operacion fallida, por favor verificar los datos", "ATENCION");
</script>
{{/each}}
{{/each}}