<!--PARA PRUEBA DE COMO LLEGAR LA BASE UN TABLA CON UNA BASE DE DATOS-->
<link rel="stylesheet" href="/css/inicio.css">
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />
<link rel="stylesheet" href="/css/inicio.css">

{{> cabecera}}
{{> navegacion}}
<section class="contenido" style="margin-left: 230px">
    <div class="container">


        <table class="table table-bordered table-hover ">
            <tr>
                <th>USER</th>
                <th>CONTRASENIA</th>
                <th>OPCIONES</th>
            </tr>
            {{#each datos }}
            <tr>
                <td>{{id_usuario}} </td>
                <td>{{contrasenia}}</td>
                <td>
                    <a href="/navegacion/users/newPass/{{id_usuario}}">
    
                        <button type="button"  class="button-edit"><i class="fas fa-edit" style="color: rgb(34, 75, 197)"></i></button>
                        </a>
                    <a onclick="eliminar(this)" id={{id_usuario}}> 
                        
                        <button type="button"  class="button-delete"><i class="fas fa-trash" style="color: rgb(136, 15, 15)"></i></button>
                        </a>
                </td>
    
            </tr>
            {{else}}
            <tr>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            {{/each }}
        </table>
    
        <a href="/navegacion/users/signIn">
            <button type="submit" class="btn btn-success" type="button">
                <i class="fas fa-sign-out-al"></i> Nuevo usuario</button>
        </a>
    
    </div>
</section>

{{> footer}}


<script>

    function eliminar(val) {

        var texto1 = "<form method='POST' action='/navegacion/users/delUser/" + val.id +
            "'> <h4>¿Esta seguro de eliminar este usuario? </h4><br /> " +
            "<button type='submit' class='btn btn-default'>Si</button></form>";

        toastr.info(texto1, "Confirmacion",
            {
                "closeButton": true,
                "progressBar": true,
                "positionClass": "toast-top-center",
            });
    }

</script>

<!--MENSAJES-->
{{#each exitoUser }}
<script>
    toastr.success("Operacion realizada satisfactoriamente", "EXITO");
</script>
{{else}}
{{#each errorUser }}
<script>
    toastr.warning("Operacion fallida, te pido por favor verificar los datos", "ATENCION");
</script>
{{/each}}
{{/each}}