<!--PARA PRUEBA DE COMO LLEGAR LA BASE UN TABLA CON UNA BASE DE DATOS-->
<link rel="stylesheet" href="/css/inicio.css">
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />

<script>

    function eliminar(val) {

        var texto1 = "<form method='POST' action='/navegacion/delUser/" + val.id +
            "'> <h4>¿Esta seguro de eliminar este usuario? </h4><br /> " +
            "<button type='submit' class='btn btn-default'>Si</button></form>";

        toastr.info(texto1, "Confirmacion",
            {
                "closeButton": true,
                "progressBar": true,
                "positionClass": "toast-top-center",
            });
    }

</script>

<div class="container">


    <table class="table table-bordered table-hover ">
        <tr>
            <th>USER</th>
            <th>CONTRASENIA</th>
            <th>OPCIONES</th>
        </tr>
        {{#each datos }}
        <tr>
            <td>{{id_usuario}} </td>
            <td>{{contrasenia}}</td>
            <td>
                <a href="/navegacion/newPass/{{id_usuario}}"><i class="fas fa-edit" style="color: royalblue"></i></a>
                <a onclick="eliminar(this)" id={{id_usuario}}><i class="fas fa-trash" style="color: brown"></i></a>
            </td>

        </tr>
        {{else}}
        <tr>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        {{/each }}
    </table>
    <a href="/navegacion/logout">
        <button type="button" class="btn btn-success" type="button">
            <i class="fas fa-sign-out-alt"></i> Cerrar sesion</button>
    </a>

    <a href="/navegacion/signIn">
        <button type="submit" class="btn btn-success" type="button">
            <i class="fas fa-sign-out-al"></i> Nuevo usuario</button>
    </a>

</div>

<!--MENSAJES-->
{{#each exitoUser }}
<script>
    toastr.success("Actualizacion realizada satisfactoriamente", "Exito");
</script>
{{else}}
{{#each errorUser }}
<script>
    toastr.warning("Actualizacion fallida, porfavor verificar los datos", "Fallo");
</script>
{{/each}}
{{/each}}