.contenido {
    margin-left: 230px;
    overflow: hidden;
}

h1 {
    text-align: center;
    font-family: 'Calibri';
    font-size: 30px;
    background-color: white;
    color: black;
}

h3 {
    font-family: 'Calibri';
}

table {
    width: 100%;
}

th, td {
    width: 25%;
    font-family: 'Calibri';
    border: solid 0.8px grey;
    border-spacing: 0%;
    border-bottom: 0px;
    border-top: 0px;
    border-right: 0px;
    border-left: 0px;
    cursor: default;
}

th {
    background-color: #020C0D;
    color: white;
    height: 30px;
    padding: 0%;
}

table tr:nth-child(odd) {
    background-color: #D2DAD9;
}

.div1 {
    margin-top: 15px;
    margin-left: 20px;
}

button {
    margin: 0 auto;
    height: 35px;
    width: 180px;
    border-style: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    background-color: #0E7771;
    margin-left: 20px;
}

label {
    font-family: 'Calibri';
    margin-left: 20px;
    font-size: 18px;
}

input {
    font-size: 15px;
    border-radius: 2px;
    border: 1px solid #39c;
    height: 30px;
    width: 320px;
<<<<<<< HEAD
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 15px;
}

main {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: 200px 350px;
    grid-template-rows: 45px 45px;
    margin-left: 24%;
    margin-right: 24%;
    margin-top: 20px;
  }
=======
    margin-left: 2%;
    margin-right: 2%;
}

p {
    margin-top: 3px;
}

form{
    text-align: center;
}

#div1{
    display: inline-block;
}
>>>>>>> 7cd975a58408c879ab9e57da051b0d93979e1b78
