.contenido {
    margin-left: 230px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0%;
    height: auto;
}

h1 {
    text-align: center;
    font-family: 'Calibri';
    font-size: 30px;
    background-color: white;
    color: black;
}

input {
    font-size: 15px;
    border-radius: 2px;
    border: 1px solid #39c;
    height: 25px;
    width: 100px;
    margin-left: 2%;
    margin-right: 2%;
}

.boton-buscar {
    margin: 0 auto;
    margin-top: 15px;
    margin-left: 15px;
    height: 35px;
    width: 150px;
    border-style: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    background-color: #0E7771;
}

table {
    width: 100%;
    margin: 0 auto;
}

th, td {
    width: 20%;
    font-family: 'Calibri';
    border: solid 0.8px grey;
    text-align: center; 
    border-spacing: 0%;
    border-bottom: 0px;
    border-top: 0px;
    border-right: 0px;
    border-left: 0px;
    cursor: default;
}

th {
    background-color: #020C0D;
    color: white;
    height: 30px;
    padding: 0%;
}

table tr:nth-child(odd) {
    background-color: #D2DAD9;
}

a {
    text-decoration: none;
    color: white;
}


.boton-opciones {
    border-style: none;
    text-decoration: none;
    cursor: pointer;
    background-color: transparent;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
}
h1 {
    text-align: center;
    font-family: 'Calibri';
    font-size: 30px;
    background-color: white;
    color: black;
}

.boton-nuevo {
    margin: 0 auto;
    margin-top: 15px;
    margin-left: 15px;
    height: 35px;
    width: 150px;
    border-style: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    background-color: #0E7771;
}

.button-visualizar {
    color: black;
    background-color: #0E7771;
    border-radius: 15px;
    border-bottom: none;
    border-style: none;
    width: 30px;
    height: 30px;
    font-family: 'Calibri';
    font-size: 15px;
    outline: none;
    cursor: pointer;
}
.button-delete {
    color: white;
    background-color: red;
    border-radius: 15px;
    border-bottom: none;
    border-style: none;
    width: 30px;
    height: 30px;
    font-family: 'Calibri';
    font-size: 15px;
    outline: none;
    cursor: pointer;
}

select {
    font-family: 'Calibri';
    font-size: 15px;
    font-weight: 400;
    color: black;
    height: 25px;
    width: 100px;
    max-width: 100%; 
    box-sizing: border-box;
    margin: 0;
    margin-left: 2%;
    border: 1px solid #39c;
    box-shadow: 0 1px 0 1px rgba(0,0,0,.03);
    border-radius: 2px;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
      linear-gradient(to bottom, #ffffff 0%,#f7f7f7 100%);
    background-repeat: no-repeat, repeat;
    background-position: right .7em top 50%, 0 0;
    background-size: .65em auto, 100%;
   }
   
   select:hover {
    border-color: #888;
   }
   
   select:focus {
    border-color: #aaa;
    box-shadow: 0 0 1px 3px rgba(59, 153, 252, .7);
    box-shadow: 0 0 0 3px -moz-mac-focusring;
    color: #222; 
    outline: none;
   }