.contenido {
    margin-left: 230px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0%;
    height: auto;
}

h3 {
    text-align: center;
    font-family: 'Calibri';
    font-size: 30px;
    margin-top: 50px;
    cursor: default;
}

table {
    width: 95%;
    margin: 0 auto;
}

th, td {
    width: 25%;
    font-family: 'Calibri';
    border: solid 0.8px grey;
    text-align: center; 
    border-spacing: 0%;
    border-bottom: 0px;
    border-top: 0px;
    border-right: 0px;
    border-left: 0px;
    cursor: default;
}

th {
    background-color: #020C0D;
    color: white;
    height: 30px;
    padding: 0%;
}

table tr:nth-child(odd) {
    background-color: #D2DAD9;
}

a {
    text-decoration: none;
    color: white;
}



h1 {
    text-align: center;
    font-family: 'Calibri';
    font-size: 30px;
    background-color: white;
    color: black;
}

.boton-nuevo {
    margin: 0 auto;
    margin-top: 15px;
    margin-left: 15px;
    height: 35px;
    width: 150px;
    border-style: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    background-color: #0E7771;
}

.button-edit {
    color: white;
    background-color: #0E7771;
    border-radius: 15px;
    border-bottom: none;
    border-style: none;
    width: 30px;
    height: 30px;
    font-family: 'Calibri';
    font-size: 15px;
    outline: none;
}
.button-delete {
    color: white;
    background-color: red;
    border-radius: 15px;
    border-bottom: none;
    border-style: none;
    width: 30px;
    height: 30px;
    font-family: 'Calibri';
    font-size: 15px;
    outline: none;
}