<div class="sidebar">
    <div class="figura">
        <img src="/imagenes/icono.png" style="border-radius: 3.5em; width: 85px; height: 85px">
    </div>
    <div>
        <a class="text-tittle" href="#"> USERNAME </a>
    </div>
    
    <div>
        <a class="text-sidebar" href="/navegacion"><i class="fas fa-home"></i> Inicio</a>
        <a class="text-sidebar" href="/navegacion/producto"><i class="fas fa-tags"></i> Productos</a>
        <a class="text-sidebar" href="/navegacion/compra"><i class="fas fa-shopping-cart"></i> Compras</a>
        <a class="text-sidebar" href="/navegacion/salidaProducto"><i class="fas fa-utensils"></i> Salida de productos</a>
        <a class="text-sidebar" href="/navegacion/reportes"><i class="fas fa-signal"></i> Reportes</a>
        <a class="text-sidebar" href="/navegacion/users"><i class="fas fa-users"></i> Administrar accesos</a>
    </div>
</div>
